.line{
    margin-left: 500px;
}

h1{
    color: blue;
    text-align: center;
}

.one{
    width: 400px;
    height:20px;
    background-color:lightblue;
}
.two{
    width: 400px;
    height:20px;
    background-color:lightblue;
}
.three{
    width: 400px;
    height:20px;
    background-color:lightblue;
}
.four{
    width: 400px;
    height:20px;
    background-color:lightblue;
}
